// Place all the styles related to the claims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: 'Istok Web', sans-serif;
}

input{
	width: 40%;
}

.transcript{
	display: inline-block;
	height: 50%;
	width: 45%;
	padding: 8% 0; 
	padding-top: 26.5%;
	position: relative;
	bottom: 9em;

	background: -webkit-radial-gradient(ellipse, rgb(235, 225, 200) 60%, rgb(223,  194, 156));
}

.form-div{
	position: relative;
	padding-left: 15%;
	font-size: 1.3em;

	input{
		font-size: 19px;
	}
}

.page{
	background-color: blue;
	display: inline-block;
	height: 49%;
	width: 50%;
}

img{
  width: 100%;
}

.transcribe-image-holder{
	width: 50%;
	display: inline-block;
	position: relative;
}

.overlay{
	position: absolute;
}

.hidden{
	display: none;
}

.x-out{

	background-color: white;
	height: 15px;
	width: 15px;
	border: 1px solid black;
	border-radius: 15px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.x-in{
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
	font-family: courier;
	position: absolute;
	top: -3px;
	right: 3px;
}


@mixin highlighter-background($r, $g, $b){
	background-color: rgba($r,$g,$b,0.2);

	&.flag{ border: 2px solid rgba($r, $g, $b, 0.3);}
}

.claim_date{
	@include highlighter-background(255, 105, 180);
}

.incident_date{
	@include highlighter-background(34, 139,  34);
}

.resolution_date{
	@include highlighter-background(128, 128,   0);
}

.claim_number{
	@include highlighter-background(255,   0, 255);
}

.record_number{
	@include highlighter-background(255, 165,   0);
}

.incident_address{
	@include highlighter-background(135, 206, 250);
}

.incident_address_type{
	@include highlighter-background(25,  25, 112);
}

.total_claimed{
	@include highlighter-background(154, 205,  50);
}

.total_awarded{
	@include highlighter-background(220,  20,  60);
}

.examiner_name{
	@include highlighter-background(255, 127,  80);
}

.claimant_name{
	@include highlighter-background(255, 255,   0);
}

.previous_address{
	@include highlighter-background(0, 255, 255);
}

.current_address{
	@include highlighter-background(153,  50, 204);
}

.gender{
	@include highlighter-background(0, 128, 128);
}

.race{
	@include highlighter-background(30, 144, 255);
}